<style type="text/css">
.modal-body input {margin-top:15px;margin-bottom:15px;}
</style>


  <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLongTitle">新增步骤</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id = 'item_new' class="modal-body">
<!-- 操作步骤 -->

<h3>操作:</h3>
<div class="btn-group btn-group-toggle" data-toggle="buttons" >
  <label class="btn btn-secondary active" id="operate_click">
    <input type="radio" name="options"  autocomplete="off" checked> 点击
  </label>
  <label class="btn btn-secondary" id="operate_check">
    <input type="radio" name="options"  autocomplete="off"> 勾选
  </label>
  <label class="btn btn-secondary" id="operate_select">
    <input type="radio" name="options"  autocomplete="off"> 选取
  </label>

  <label class="btn btn-secondary" id="operate_get">
    <input type="radio" name="options"  autocomplete="off"> 访问
  </label>
  <label class="btn btn-secondary" id="operate_input">
    <input type="radio" name="options" > 输入
  </label>
</div>
<div>
<label for="inputPassword" class="sr-only">输入参数</label>
<input type="text" id="operate_value" class="form-control" placeholder="input以及访问网址在此填入参数" style="visibility: hidden">
</div>

<!-- 定位 -->
<h3>元素定位:</h3>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active" id="location_text">
    <input type="radio" name="options"  autocomplete="off" checked> 文字
  </label>
  <label class="btn btn-secondary" id="location_text_v">
    <input type="radio" name="options"  autocomplete="off"> 竖直文字
  </label>
  <label class="btn btn-secondary" id="location_css">
    <input type="radio" name="options"  autocomplete="off"> css
  </label>
  <label class="btn btn-secondary" id="location_xpath">
    <input type="radio" name="options"  autocomplete="off"> xpath
  </label>
</div>



<label for="inputPassword" class="sr-only">输入选择器定位元素</label>
<input type="text" id="inputPassword" class="form-control" placeholder="输入选择器定位元素">
<label for="inputPassword" class="sr-only">index,默认值为0</label>
<input type="text" id="inputPassword" class="form-control" placeholder="index,默认值为0，表示第几个被选择到的元素">
<label for="inputPassword" class="sr-only">num,默认值为全部</label>
<input type="text" id="inputPassword" class="form-control" placeholder="num,默认值为全部" style= "display: none">
<!-- 期待 -->
<h3>期待元素:</h3>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active" id="expect_text>
    <input type="radio" name="options"  autocomplete="off" checked> 文字
  </label>
  <label class="btn btn-secondary" id="expect_css">
    <input type="radio" name="options"  autocomplete="off"> css
  </label>
  <label class="btn btn-secondary" id="expect_xpath">
    <input type="radio" name="options"  autocomplete="off"> xpath
  </label>
</div>
<label for="inputPassword" class="sr-only">输入参数</label>
<input type="text" id="inputPassword" class="form-control" placeholder="输入选择器以验证操作正确性" required>







        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确认</button>
        </div>
      </div>
    </div>
  </div>

