{% extends "base.html" %}

{% block title %}新建项目{% endblock %}


{% block content %}
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
{% endblock %}

{% block javascript %}
<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      var url = 'http://127.0.0.1' + '/api/new/'
      $.getJSON(url , {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        console.log(data)
        $("#result").text(data.result);
      });
    });
  });
</script>
{% endblock %}