{% extends "base.html" %}

{% block title %}项目列表{% endblock %}

{% block content %}
<h2 style = 'margin-top: 20px'>项目列表</h2>

<div style = 'margin-top:50px'>
<button id = 'submit' class="btn btn-success col-sm-1" type="submit" data-toggle="modal" data-target="#newModal" onclick = "window.location = 'http://127.0.0.1/project/new'">新增</button>
<button id = 'submit' class="btn btn-danger col-sm-1"  data-toggle="modal" data-target="#deleteModal" type="submit">删除</button>
<button id = 'edit' class="btn btn-info col-sm-1" type="submit">编辑</button>
<button id = 'exeute' class="btn btn-primary col-sm-1" type="submit">执行</button>
<button id = 'exorder' class="btn btn-info col-sm-1" type="submit">交换顺序</button>
<button id = 'change' class="btn btn-dark col-sm-1" data-toggle="modal" data-target="#updateModal" type="submit">更新</button>
<button id = 'report' class="btn btn-primary col-sm-1">日志</button>

</div>

<div style = 'margin-top:50px'>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">项目名称</th>
      <th scope="col">项目描述</th>
      <th scope="col">创建日期</th>
      <th scope="col">状态</th>
    </tr>
  </thead>
  <tbody>

  {% for project in projects_list %}
    <tr project_id = {{project[0]}}>
      <th scope="row">{{loop.index}}</th>
      <td>{{project[1]}}</td>
      <td>{{project[2]}}</td>
      <td>{{project[3]}}</td>
      <td>{{project[5]}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</div>

{% include "dialog/delete.html" with context%}
{% include "dialog/update.html" with context%}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
// var get_checked_list = function(){
//   var checked_list = []
//   var checkbox_list = document.querySelectorAll('[type = checkbox]')
//   for(i=0;i<checkbox_list.length;i++){
//     if(checkbox_list[i].checked){
//       checked_list.push(parseInt(checkbox_list[i].getAttribute('project_id')))
//     }
//   }
//   return checked_list
// }

// $(function(){
//     $('#delete').bind('click', function() {
//       project_id_list = JSON.stringify(get_checked_list())
//       console.log(project_id_list)
//       // 发送信息给服务器
//       var url = 'http://127.0.0.1/project/api/plist/delete'
//       $.getJSON(url , {
//         project_id_list: project_id_list,
//       }, function(data) {
//         console.log(data)
//         if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
//       });
//     });
//   });
// $(function(){
//     $('#edit').bind('click', function() {
//       project_id = JSON.stringify(get_checked_list()[0])
//       if(project_id){window.location = 'http://127.0.0.1/project/group/?project_id='+project_id}
//     });
//   });
// <script type="text/javascript" >

$(document).ready(function(){
var get_checked_list = function(){
  var checked_list = []
  length = $('[is_checked="true"]').length
  for(i=0;i<length;i++){
    checked_list.push($('[is_checked="true"]').eq(i).attr('project_id'))
  }
  console.log(checked_list)
  return checked_list
}
//删除按钮
$('#delete').bind('click', function() {
  project_id_list = JSON.stringify(get_checked_list())

  // 发送信息给服务器
  var url = 'http://127.0.0.1/project/api/plist/delete'
  $.getJSON(url , {
    project_id_list: project_id_list,
  }, function(data) {
    console.log(data)
    if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
  });
});
// 新增group
$('#submitResult').bind('click', function() {
  project_id = $("#title").attr("project_id")
  // 发送信息给服务器
  var url = 'http://127.0.0.1/project/api/group/new'
  $.getJSON(url , {
    project_id: project_id,
    name: $('#item_name').val(),
    info: $('#item_info').val(),
    user: 'user'
  }, function(data) {
    console.log(data)
    if (data.state == 'success'){window.location = 'http://127.0.0.1/project/group?project_id=' + project_id}
  });
});
//编辑按钮
$('#edit').bind('click', function() {
  project_id = JSON.stringify(get_checked_list()[0])
  window.location = 'http://127.0.0.1/project/group?project_id=' + project_id})
//交换顺序
$('#exorder').bind('click', function() {
      project_id_list = JSON.stringify(get_checked_list())
      // 发送信息给服务器
      var url = 'http://127.0.0.1/project/api/plist/exorder'
      $.getJSON(url , {
        project_id_list: project_id_list,
      }, function(data) {
        console.log(data)
        if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
      });
    });
//更新按钮
$('#submitUpdate').bind('click', function() {
      project_id = JSON.stringify(get_checked_list()[0])
      // 发送信息给服务器
      var url = 'http://127.0.0.1/project/api/plist/update'
      $.getJSON(url , {
        project_id: project_id,
        name: $('#update_name').val(),
        info: $('#update_info').val(),
        user: 'user'
      }, function(data) {
        console.log(data)
        if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
      });
    });
//是否执行
$('[type="checkbox"]').on('click',function(){
  var url = 'http://127.0.0.1/project/api/plist/state'
  if($(this).prop('checked')){

            $.getJSON(url , {
              project_id: $(this).attr('project_id'),
              is_execute: 'checked',
            }, function(data) {
              console.log(data)
              if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
            });
  }else{
            $.getJSON(url , {
              project_id: $(this).attr('project_id'),
              is_execute: '',
            }, function(data) {
              console.log(data)
              if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
            });
  }
  })
//选中状态，颜色加深
$('tbody tr').on('click',function(){
  if ($(this).attr('is_checked') == 'true' ){
    $(this).css('background-color','')
    $(this).attr('is_checked','false')
  }else{
    $(this).css('background-color','rgba(0, 0, 0, 0.075)')
    $(this).attr('is_checked','true')
  }

});
//更新按钮
$('#exeute').bind('click', function() {
      project_id = JSON.stringify(get_checked_list()[0])
      // 发送信息给服务器
      var url = 'http://127.0.0.1/project/api/plist/exeute'
      $.getJSON(url , {
        project_id: project_id
      }, function(data) {
        console.log(data)
        if (data.state == 'success'){window.location = 'http://127.0.0.1/project/plist'}
      });
    });
$('#report').bind('click', function() {
  project_id = JSON.stringify(get_checked_list()[0])
  window.location = 'http://127.0.0.1/report/?project_id=' + project_id})
});


</script>

{% endblock %}