{% extends "base.html" %}

{% block title %}项目列表{% endblock %}

{% block content %}
<h2 id = "title" style = 'margin-top: 20px' project_id = {{project_id}} onclick = 'window.location="/project/plist/"' >日志列表 - {{title}}</h2>

<div style = 'margin-top:50px'>
<button id = 'edit' class="btn btn-info col-sm-1" type="submit">查看</button>
<button id = 'submit' class="btn btn-danger col-sm-1"  data-toggle="modal" data-target="#deleteModal" type="submit">删除</button>
</div>

<div style = 'margin-top:50px'>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">开始时间</th>
      <th scope="col">结束时间</th>
      <th scope="col">状态</th>
    </tr>
  </thead>
  <tbody>

  {% for project in projects_list %}
    <tr report_id = '{{project[0]}}'>
      <th scope="row">{{loop.index}}</th>
      <td>{{project[1]}}</td>
      <td>{{project[2]}}</td>
      <td>{{project[3]}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</div>

{% include "dialog/delete.html" with context%}
{% include "dialog/update.html" with context%}
{% endblock %}
{% block javascript %}
<script type="text/javascript">

$(document).ready(function(){
var get_checked_list = function(){
  var checked_list = []
  length = $('[is_checked="true"]').length
  for(i=0;i<length;i++){
    checked_list.push($('[is_checked="true"]').eq(i).attr('report_id'))
  }
  console.log(checked_list)
  return checked_list
}
//删除按钮
$('#delete').bind('click', function() {
  project_id = $('#title').attr('project_id')
  report_id_list = JSON.stringify(get_checked_list())

  // 发送信息给服务器
  var url = '/api/report/delete'
  $.getJSON(url , {
    report_id_list: report_id_list,
  }, function(data) {
    console.log(data)
    if (data.state == 'success'){window.location = '/report/?project_id='+ project_id}
  });
});
// 新增group
$('#submitResult').bind('click', function() {
  project_id = $("#title").attr("project_id")
  // 发送信息给服务器
  var url = '/project/api/group/new'
  $.getJSON(url , {
    project_id: project_id,
    name: $('#item_name').val(),
    info: $('#item_info').val(),
    user: 'user'
  }, function(data) {
    console.log(data)
    if (data.state == 'success'){window.location = '/project/group?project_id=' + project_id}
  });
});
//编辑按钮
$('#edit').bind('click', function() {
  report_id = JSON.stringify(get_checked_list()[0])
  window.location = '/api/report/detail?report_id='+report_id
})
//交换顺序
$('#exorder').bind('click', function() {
      project_id_list = JSON.stringify(get_checked_list())
      // 发送信息给服务器
      var url = '/project/api/plist/exorder'
      $.getJSON(url , {
        project_id_list: project_id_list,
      }, function(data) {
        console.log(data)
        if (data.state == 'success'){window.location = '/project/plist'}
      });
    });
//更新按钮
$('#submitUpdate').bind('click', function() {
      project_id = JSON.stringify(get_checked_list()[0])
      // 发送信息给服务器
      var url = '/project/api/plist/update'
      $.getJSON(url , {
        project_id: project_id,
        name: $('#update_name').val(),
        info: $('#update_info').val(),
        user: 'user'
      }, function(data) {
        console.log(data)
        if (data.state == 'success'){window.location = '/project/plist'}
      });
    });
//是否执行
$('[type="checkbox"]').on('click',function(){
  var url = '/project/api/plist/state'
  if($(this).prop('checked')){

            $.getJSON(url , {
              project_id: $(this).attr('project_id'),
              is_execute: 'checked',
            }, function(data) {
              console.log(data)
              if (data.state == 'success'){window.location = '/project/plist'}
            });
  }else{
            $.getJSON(url , {
              project_id: $(this).attr('project_id'),
              is_execute: '',
            }, function(data) {
              console.log(data)
              if (data.state == 'success'){window.location = '/project/plist'}
            });
  }
  })
//选中状态，颜色加深
$('tbody tr').on('click',function(){
  if ($(this).attr('is_checked') == 'true' ){
    $(this).css('background-color','')
    $(this).attr('is_checked','false')
  }else{
    $(this).css('background-color','rgba(0, 0, 0, 0.075)')
    $(this).attr('is_checked','true')
  }

});
//更新按钮
$('#exeute').bind('click', function() {
      project_id = JSON.stringify(get_checked_list()[0])
      // 发送信息给服务器
      var url = '/project/api/plist/exeute'
      $.getJSON(url , {
        project_id: project_id
      }, function(data) {
        console.log(data)
        if (data.state == 'success'){window.location = '/project/plist'}
      });
    });
});

</script>

{% endblock %}